on:
  push:
     branches: [ main ] 
  pull_request:
     branches: [ main ] 
                          

jobs: 
   build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Execute sql files
        run: |
         
           echo "Display All SQL Files to be modified"
           #ls -la ./ChangeScript
           a=1
           for f in ./ChangeScript/*0$a.sql;
            do
             # if a is equal to 5 break the loop
           if [ $a == 2 ]
           then
               break
           fi
            # Print the value
            echo "Iteration no $a"
            echo Processing $f 
            echo Execute sqlcmd $(cat $f) ;
            ((a=a+1))
            done; 
